<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_202020Pro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <_202020Pro.Properties.Settings>
            <setting name="EmergencyPassword" serializeAs="String">
                <value>911</value>
            </setting>
            <setting name="GamingPassword" serializeAs="String">
                <value>gamer</value>
            </setting>
            <setting name="BreakMinutes" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="GamingModeMinutes" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="SoundEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NightModeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NightModeStartHour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NightModeEndHour" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="BreakBackgroundColor" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="BreakTextColor" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="BreakFontFamily" serializeAs="String">
                <value>Segoe UI</value>
            </setting>
            <setting name="BreakFontSize" serializeAs="String">
                <value>24</value>
            </setting>
        </_202020Pro.Properties.Settings>
    </userSettings>
</configuration>